@using viewModelFun.Models
@model List<MyModel>
    <h4 class="text-center">Here are some users!</h4>
    @foreach(var name in Model)
    {
        <p class="text-center">@name.FirstName @name.LastName</p>
    }
